{% extends 'base.html' %}

{% block head %}
    <title>Image Reader</title>
{% endblock %}

{% block body %}
<div class="content">
    <div class = header>
      <h1>What's in your image</h1>
      <hr>
    </div>
      <form id = "upload_file" action="/" method="POST" enctype="multipart/form-data">

        <div class="form-group">
          <div class="custom-file">
            <input type="file" class="custom-file-input" name="image" id="image">
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Upload</button>

      </form>


</div>
{% endblock %}